{
  "checks": {
{% for website in websites %}
    "{{ website.name }}": {
      "command": "/etc/sensu/plugins/check-http.rb -u {{ website.url }} -q '{{ website.keyword }}'",
      "standalone": true,
      "interval": 60,
      "refresh": 60      
    },
{% endfor %}
    "github": {
      "command": "/etc/sensu/plugins/check-http.rb -u https://github.com -q github",
      "standalone": true,
      "interval": 60,
      "refresh": 60
    }
  }
}
