{
  "checks": {
{% if sensu_client_ports is defined %}
{% for p in sensu_client_ports %}
    "{{ p.name | default(p.number) }}": {
      "command": "check-ports.rb -p {{ p.number }}",
      "standalone": true,
{% if p.handlers is defined %}
      "handlers": ["{{ p.handlers | list | join("\", \"") }}"],
{% endif %}
{% if p.subscribers is defined %}
      "subscribers": ["{{ p.subscribers | list | join("\", \"") }}"],
      "enable_deprecated_filtering": false,
{% endif %}
      "interval": {{ p.interval | default(60) }}
    },
{% endfor %}
{% endif %}
{% if sensu_client_websites is defined %}
{% for w in sensu_client_websites %}
    "{{ w.name }}": {
      "command": "check-http.rb -u {{ w.url }} -q '{{ w.keyword }}'{% if w.response_code is defined %} --response-code {{ w.response_code }}{% endif %}",
      "standalone": true,
{% if w.handlers is defined %}
      "handlers": ["{{ w.handlers | list | join("\", \"") }}"],
{% endif %}
{% if w.subscribers is defined %}
      "subscribers": ["{{ w.subscribers | list | join("\", \"") }}"],
      "enable_deprecated_filtering": false,
{% endif %}
      "interval": {{ w.interval | default(60) }}
    },
{% endfor %}
{% endif %}
{% if sensu_client_checks_metrics is defined %}
{% for c in sensu_client_checks_metrics %}
    "{{ c.name }}": {
{% if 'metrics' in c.name %}
      "type": "metric",
{% endif %}
{% if c.name == "check-disk-usage" %}
      "command": "{{ c.name }}.rb -x cgroup -p '{{ sensu_client_check_disk_ignore_path_regex }}'",
{% else %}
      "command": "{{ c.name }}.rb",
{% endif %}
{% if 'metrics' in c.name or c.handlers is defined %}
      "handlers": ["{% if 'metrics' in c.name %}relay{% else %}{{ c.handlers | list | join("\", \"") }}{% endif %}"],
{% endif %}
{% if c.subscribers is defined %}
      "subscribers": ["{{ c.subscribers | list | join("\", \"") }}"],
      "enable_deprecated_filtering": false,
{% endif %}
      "standalone": true,
      "interval": {{ c.interval | default(60) }}
    }{%- if not loop.last -%},
{% endif %}
{% endfor %}
{% endif %}

  }
}
