{
  "checks": {
{% if texts is defined %}
{% for website in websites %}
    "{{ website.name }}": {
      "command": "/etc/sensu/plugins/check-http.rb -u {{ website.url }} -q '{{ website.keyword }}'",
      "standalone": true,
      "interval": 60,
      "refresh": 60      
    },
{% endfor %}
{% endif %}
{% for check_metric in checks_metrics %}
    "{{ check_metric }}": {
  {% if 'metrics' in check_metric %}
      "type": "metric",
      "handlers": ["relay"],
  {% endif %}
      "command": "{{ check_metric }}.rb",
      "standalone": true,
      "interval": 60,
      "refresh": 60
    }
{% if not loop.last %}
,
{% endif %}
{% endfor %}
  }
}
