{
  "rabbitmq": {
    "host": "{{ sensu_client_rabbitmq_host }}",
    "port": {{ sensu_client_rabbitmq_port }},
    "vhost": "/sensu",
    "user": "sensu",
    "password": "{{ vault_sensu_server_rabbitmq_users_sensu_password }}",
    "heartbeat": 30,
    "prefetch": 50
  }
}
