{
  "rabbitmq": {
    "host": "{{ rabbitmq_host }}",
    "port": {{ rabbitmq_port }},
    "vhost": "/sensu",
    "user": "sensu",
    "password": "{{ rabbitmq_sensu_password }}",
    "heartbeat": 30,
    "prefetch": 50
  }
}
